<h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla quo, exercitationem expedita corporis nesciunt
    cupiditate dolor, sequi deleniti suscipit omnis sed cumque quidem cum quas fugit, autem error nam velit.</h1>

<a href="/about">About page</a>